name: LBPM CI

on:
  workflow_dispatch:
  push:
    branches:
      - master
      - dev
  pull_request:
    branches:
      - master
      - dev

jobs:
  build-and-test:

    runs-on: ubuntu-latest
    env:
      LBPM_ZLIB_DIR: /home/runner/extlib/zlib
      LBPM_HDF5_DIR: /home/runner/extlib/hdf5
      LBPM_SILO_DIR: /home/runner/extlib/silo
      MPI_DIR: /home/runner/.openmpi

    steps:
    - name: update ubuntu
      run: |
        sudo apt-get update -y

    - name: check out commit
      uses: actions/checkout@v2
      with:
        path: LBPM

    - name: download and install openmpi
      run: |
        wget -q https://download.open-mpi.org/release/open-mpi/v4.1/openmpi-4.1.8.tar.gz
        tar -xzf openmpi-4.1.8.tar.gz
        cd openmpi-4.1.8
        ./configure --prefix="$HOME/.openmpi"
        make -j
        sudo make install
        cd ..
        echo "$HOME/.openmpi/bin" >> $GITHUB_PATH

    - name: download and install zlib 
      run: |
        wget -q https://zlib.net/zlib-1.3.1.tar.gz
        tar -xzf zlib-1.3.1.tar.gz
        cd zlib-1.3.1
        ./configure --prefix=$LBPM_ZLIB_DIR
        make
        sudo make install
        cd ..

    - name: download and install hdf5 
      run: |
        wget -q https://sourceforge.net/projects/hdf5.mirror/files/hdf5_1.14.6/hdf5-1.14.6.tar.gz/download -O hdf5.tar.gz
        cd hdf5-1.14.6
        CC=/home/runner/.openmpi/bin/mpicc  CXX=/home/runner/.openmpi/bin/mpicxx  CXXFLAGS="-fPIC -O3 -std=c++14" \
        ./configure --prefix=$LBPM_HDF5_DIR --enable-parallel --enable-shared --with-zlib=$LBPM_ZLIB_DIR
        make
        sudo make install
        cd ..

    - name: configure cmake
      run: |
        mkdir build
        cd build
        cmake \
        -D USE_SILO=0                       \
        -D USE_TIMER=0 \
        -D USE_CUDA=0 && \
        -D CMAKE_BUILD_TYPE:STRING=Release          \
        -D CMAKE_C_COMPILER:PATH=$MPI_DIR/bin/mpicc              \
        -D CMAKE_CXX_COMPILER:PATH=$MPI_DIR/bin/mpicxx           \
        -D MPI_CXX_COMPILER=$MPI_DIR/bin/mpicxx            \
        -D CMAKE_C_FLAGS="-fPIC"                    \
        -D CMAKE_CXX_FLAGS="-fPIC"                  \
        -D CMAKE_CXX_STD=14                         \
        -D TEST_MAX_PROCS=1    \
        -D HDF5_DIRECTORY=$LBPM_HDF5_DIR         \
        -D USE_CUDA=0                               \
        $GITHUB_WORKSPACE/LBPM
 
    - name: build and make
      run: |
        cd build
        make
        sudo make install
        cd ..
        
    - name: tests
      run: |
        cd build
        ctest
